*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "PT Serif", serif;
}
.container{
    width: 100%;
    background-color: black;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav img{
    height: 70px;
    width: 10%;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
   padding: 10px;
}
nav ul li a{
     text-decoration: none;
     color: white;
     font-size: 15px;
     position: relative;
}
nav ul li a::after{
    content: "";
    height: 3px;
    background-color: red;
    width: 50%;
    left: 0;
    position: absolute;
    bottom: -8px;
    transition: .5s ease-in-out;
}
nav ul li a:hover::after{
    width: 100%;
}
.icons{
    height: 70px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.icons a{
    margin-top: 15px;
    font-size: 30px;
    cursor: pointer;
}
.icons a:nth-child(1){
   color: blue;

}
.icons a:nth-child(2){
   color: purple;

}
.icons a:nth-child(3){
   color: green;

}
/* hero section */
.typing{
    font-size: 28px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 3px solid black;
    width: 0;
    animation: typing 8s steps(30) infinite;
}
.typing span::before{
   color: crimson;
   content: "I am Fronted Development";
   animation: changeText 8s infinite;
}
@keyframes typing{
    0% {width: 0}
    20% {width: 27ch}
    40% {width: 27ch}
    50% {width: 0}
    60% {width: 0}
    80% {width: 26ch}
    100% {width: 26ch}
}
@keyframes changeText {
    0%,50%{
        content: "I am Fronted Developer";
    }
    51%,100%{
        content: "I am Backend Developert";
    }
}
.hero-container{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile-outer{
    height: 500px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: aqua;

}
.profile img{
    height: 100%;
    width: 100%;
    border-radius: 50%;

}
.info-outer{
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.info-outer h1{
    font-size: 2.5rem;
}
.info-outer p {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-align: center;
}

/* about */

#about h1{
 color: crimson;
 text-align: center;
 font-size: 3rem;
}

#about hr{
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 20%;
    border: none;
}
.about-text{
    
    margin: 30px auto;
    color: white;
    text-align: justify;
    width: 80%;

}
.about-text p {
    margin-top: 15px;
    font-size: 18px;
    
}
.about-text span{
    color: crimson;
    font-size: bold;
}

#about ul{
    color: crimson;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 140px;
}
/* my skills */

#skills h1{
 color: crimson;
 text-align: center;
 font-size: 3rem;
}

#skills hr{
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 20%;
    border: none;
}
.skill-outer{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
}
.skill-box{
    height: 200px;
    border-radius: 10px;
    background: linear-gradient(45deg , crimson,rgb(71,6,150,0.85));
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-box img{
  height: 150px;
  width: 80%;
  object-fit: contain;
}
.skill-box:hover{
    transform: translateY(-7px);
}
/* service */
#service h1{
 color: crimson;
 text-align: center;
 font-size: 3rem;
}

#service hr{
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 20%;
    border: none;
}
.service-outer{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
}
.service-box{
    height: 200px;
    border-radius: 20px;
  background-color: cornflowerblue;
}
/* project */
#project h1{
 color: crimson;
 text-align: center;
 font-size: 3rem;
}
#project hr{
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 20%;
    border: none;
}
.project-outer{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
}
.project-box{
    height: 200px;
    border-radius: 20px;
  background-color: cornflowerblue;

}
/* contact*/
#contact h1{
 color: crimson;
 text-align: center;
 font-size: 3rem;
}

#contact hr{
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 20%;
    border: none;
}
.contact{
    width: 80%;
    display: flex;
    margin: 40px auto;
    gap: 20px;
}
.contact .para{
    background-color: blue;
    width: 50%;
    height: 300px;
}
.contact .text{
    
    width: 50%;
    height: 300px;
    color: white;
}
.contact .text input{
    width: 300px;
    height:30px;
    margin-top: 9px;
    background-color: rgb(166, 165, 165);
}
.contact .text textarea{
     width: 300px;
     height: 150px;
      margin-top: 9px;

}